// Branding
$purple-light: #8239E0;
$purple: #6B28C2;
$purple-dark: #5416A4;

// Gray Scale

$gray-1: #0B0B0B;
$gray-2: #151515;
$gray-3: #1C1C1C;
$gray-4: #373737;
$gray-5: #484848;
$gray-6: #A9A9A9;
$white: #FFFFFF;

// Gradients

$gradient-purple: linear-gradient(90deg, $purple-light 0%, $purple-dark 100%);
